@import "~bootstrap/scss/functions";
@import "./_variables";
@import "~bootstrap/scss/bootstrap";

.co-or{
  color:#f28200;
}

.bg-or{
  background:#f28200;
}

.btn.bg-or:hover{
  background: #cb6d00;
}
.bg-or{
  background:#f28200;
}

.bo-or{
  border:1px solid #f28200;
}
.btn-or{
  color:#f28200;
}
.btn-or:hover{
  background: #f28200;
  color: #fff;
}

.indexContainer{
  padding-left:calc((100% - 1024px) /2) !important;
  padding-right:calc((100% - 1024px) /2) !important;
  box-sizing:border-box;
}
@media(max-width:1200px){
  .indexContainer{
    padding-left:2% !important;
    padding-right:2% !important;
  }
}
@media(max-width:768px){
  .indexContainer{
    padding-left:2% !important;
    padding-right:2% !important;
  }
}
